body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
  padding: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.home a {
  padding: 10px;
  font-size: 24px;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.signUpForm {
  margin: 0 auto;
  width: 450px;
  float: center;
}

.signUpForm input{
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  font-family: Apple SD Gothic Neo;
}

.signUpForm button {
  font-size: 20px;
  border-radius: 5px;
  font-family: Apple SD Gothic Neo;
}

.signUpForm p {
  color: white;
  font-size: 15px;
  font-family: Apple SD Gothic Neo;
}

.signUpForm label {
  color: white;
  font-family: Apple SD Gothic Neo;
}
