body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
  padding: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.home a {
  padding: 10px;
  font-size: 24px;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.userInfo{
  margin: 0 auto;
  text-align: center;
}

.userInfo link{
  margin: 5px;
  font-size: 5px;
  border-radius: 5px;
  font-family: Apple SD Gothic Neo;
}

.userInfo label{
  padding: 10px;
  font-size: 20px;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.userInfo button {
  margin: 5px;
  padding: 5px;
  width: 150px;
  font-size: 15px;
  border-radius: 5px;
  font-family: Apple SD Gothic Neo;
}

h2 {
  margin: 0 auto;
  color: white;
  font-family: Apple SD Gothic Neo;
}
