body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
  padding: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.verificationMessage {
  margin: 0 auto;
  text-align: center;
}

.verificationMessage p {
  font-size: 20px;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.verifyForm {
  margin: 0 auto;
  text-align: center;
}

.verifyForm input {
  font-size: 20px;
  max-width: 100px;
  border-radius: 5px;
  font-family: Apple SD Gothic Neo;
}

.verifyForm label {
  font-size: 20px;
  color: white;
  font-family: Apple SD Gothic Neo;
}

.verifyForm button {
  margin: 5px;
  padding: 5px;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  font-family: Apple SD Gothic Neo;
}

form {
  display: inline;
}
